//utilities//
@use "./utilities/mixins";
@use "./utilities/utilidades";
@use "./utilities/animaciones";

//base//
@use "./base/colores";
@use "./base/estilos";

//layout//
@use "./layout/footer";
@use "./layout/hero-section";

//componentes//
@use "./components/botones";
@use "./components/cards";
@use "./components/icons";
@use "./components/navbar";

//madia quieries//
@use "./mediaq/responsive";






