@use "../base/colores";

// Utilidades adicionales
.text-primary {
  color: colores.$primary-color !important;
}

.bg-primary {
  background-color: colores.$primary-color !important;
}

.section-padding {
  padding: 5rem 0;
}