@use "../utilities/mixins";

// Hero section
.hero-section {
  margin-bottom: 3rem;
}

.hero-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), 
              //url('https://images.unsplash.com/photo-1497435334941-8c899ee9e8e9?ixlib=rb-4.0.3&auto=format&fit=crop&w=1200&q=80');
              url('../assets/images/heroes/hero-home.jpg');
  background-size: cover;
  background-position: center;
  height: 60vh;
  @include mixins.flex-center;
  position: relative;
}

.hero-content {
  z-index: 2;
}

.hero-overlay {
  position: absolute;
  top: 30%;
  left: 25%;
  width: 50%;
  height: 26%;
  //background-color: rgba(0, 0, 0, 0.3);
  background: linear-gradient(
    180deg, 
    rgba(0, 0, 0, 0.5) 0%, 
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 20px;                 // Bordes pronunciados
  backdrop-filter: blur(5px);          // Efecto de vidrio esmerilado (opcional)
  z-index: 1;
}
