@use "../utilities/mixins";

// Service cards
.service-card {
  @include mixins.transition(transform, 0.3s);
  @include mixins.transition(box-shadow, 0.3s);
  border: none;
  border-radius: 10px;
  overflow: hidden;
  
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
}
