@use "../base/colores";
@use "../utilities/mixins";

// Feature icons
.feature-icon {
  width: 50px;
  height: 50px;
  background-color: colores.$primary-color;
  border-radius: 50%;
  @include mixins.flex-center;
  color: white;
  font-size: 1.5rem;
}
