@use "../utilities/mixins";

// Navbar personalizada
.navbar {
  &-brand {
    @include mixins.flex-center;
  }
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.brand-text {
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar-nav {
  .nav-link {
    font-weight: 500;
    @include mixins.transition(color);
    
    &:hover {
      color: rgba(255, 255, 255, 0.8) !important;
    }
  }
}